# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/Sample-Test1/Sample-Test1/Debug
/Sample-Test1/packages
/Sample-Test1/Debug
/Sample-Test1/.vs/Sample-Test1/v15
